@model IEnumerable<MVC01.Models.ReminderTask>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemindDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isRemind)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemindDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isRemind)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReminderTaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReminderTaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReminderTaskId })
        </td>
    </tr>
}

</table>
