<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TaskManager</title>
    @Styles.Render("~/Content/Site.min.css") 
    @Styles.Render("~/Content/StyleSheet.min.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("/Content/Chat/js/md5.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (Request.IsAuthenticated)
    {
        @Scripts.Render("~/Scripts/jquery.signalR-2.1.2.min.js")
        @Scripts.Render("~/signalr/hubs")
        @Scripts.Render("~/scripts/mvcjs.js")
    }
</head>
<body>        
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @if (Request.IsAuthenticated)
               {

                    <span class="noti glyphicon glyphicon-bell"><span class="count">&nbsp;</span></span>
                    <div class="noti-content">
                        <div class="noti-top-arrow"></div>
                        <ul id="notiContent"></ul>
                    </div>
               }

                @Html.ActionLink("My music store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                 
                <ul  class="nav navbar-nav" >
 
                    <li>@Html.ActionLink("Chat", "Chat", "Home")</li> 
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("Store", "Index", "Store")</li>
                    <li>@Html.ActionLink("Manager", "Index", "StoreManager")</li>*@
                    <li>@Html.ActionLink("Task", "Index", "Task")</li>
                    <li >
                        <input id="searchbox" type="text" class="form-control" placeholder="Search" >
                   </li>
                  
                </ul>
                 @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="maincontent" class="containment-wrapper container body-content" style="display:block; margin-top: 150px;position:relative;">
        @RenderBody()      
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Pham</p>
    </footer>
    <div id="searchresult" class="container" style="display:none;">
        <table id="result" class="table table-bordered"> 
        <thead> <tr> <th>#</th><th>Title</th><th>Price</th><th>Cover</th></tr> </thead> 
        <tbody> 
            
        </tbody> 
        </table>
    </div>
   
  
</body>

</html>
