<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Music store</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <style type="text/css">
        /*Added css for design notification area, you can design by your self*/
        /* COPY css content from youtube video description*/
        .noti-content {
            position: fixed;
            left: 130px;
            background: #e5e5e5;
            border-radius: 4px;
            top: 45px;
            width: 250px;
            display: none;
            border: 1px solid #9E988B;
        }

        ul#notiContent {
            max-height: 200px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            padding-left: 20px;
            z-index: 3;
        }

            ul#notiContent li {
                margin: 3px;
                padding: 6px;
                background: #fff;
            }

        .noti-top-arrow {
            border-color: transparent;
            border-bottom-color: #F5DEB3;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            position: absolute;
            left: 32px;
            top: -10px;
        }

        span.noti {
            color: #FF2323;
            margin: 10px;
            position: fixed;
            left: 150px;
            font-size: 18px;
            cursor: pointer;
        }

        span.count {
            position: relative;
            top: -3px;
        }
    </style>
</head>
<body>        
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @if (Request.IsAuthenticated)
               {

                    <span class="noti glyphicon glyphicon-bell"><span class="count">&nbsp;</span></span>
                    <div class="noti-content">
                        <div class="noti-top-arrow"></div>
                        <ul id="notiContent"></ul>
                    </div>
               }

                @Html.ActionLink("My music store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                 
                <ul  class="nav navbar-nav" >
 
                    <li>@Html.ActionLink("Chat", "Chat", "Home")</li> 
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Store", "Index", "Store")</li>
                    <li>@Html.ActionLink("Manager", "Index", "StoreManager")</li>
                    <li>@Html.ActionLink("Task", "Index", "Task")</li>
                    <li >
                        <input id="searchbox" type="text" class="form-control" placeholder="Search" >
                   </li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="maincontent" class="container body-content" style="display:block; margin-top: 150px;position:relative;">
        @RenderBody()      
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Pham</p>
    </footer>
    <div id="searchresult" class="container" style="display:none;">
        <table id="result" class="table table-bordered"> 
        <thead> <tr> <th>#</th><th>Title</th><th>Price</th><th>Cover</th></tr> </thead> 
        <tbody> 
            
        </tbody> 
        </table>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="/signalr/hubs"></script>  
     
   
    <script>

    $(function () {
        console.log('jquery load successull!')
        $('#searchbox').keyup(function (key) {			 
            //console.log($('#searchbox').val());
            //console.log(key.keyCode);
			if(!$('#searchbox').val()){
				$('#maincontent').css('display', 'block');
				$('#searchresult').css('display', 'none');
			}
            switch (key.keyCode) {
                case 13,16, 17, 18,27,32, 93:                     
                    break;
                default: {
                    $.ajax({
                        url: '/api/Restful/Search?key=' + $.trim($('#searchbox').val())
                    }).done(function (data) {
                        $("#result> tbody").children().remove();
                        if (console && console.log && (data.length > 0)) {
                            $.each(data, function (key, value) {
                                //console.log("detail of data :", value);
                                $("#result> tbody").append("<tr>")
                                    .append("<td>" + value.AlbumId + "</td>")
                                    .append("<td><a href='/StoreManager/Details/" + value.AlbumId + "' > " + value.Title + "</a></td>")
                                    .append("<td>" + value.Price + "</td>")
                                    .append("<td><img src='" + value.AlbumArtUrl + "'/></td>")                                                                 
                                    .append("</tr>");
                            });
                            $('#maincontent').css('display', 'none');
                            $('#searchresult').css('display', 'block');
                        }
                    });

                }

                 
            }  

           
               
        });

        
    });
    </script>

    @if (Request.IsAuthenticated)
    {


    @* Add jquery code for Get Notification & setup signalr *@
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.messagesHub;

            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function (message) {
                console.log("Server call backed!");
                console.log(message);                   
                isNotify = (message.Type == "CHAT" && message.Owner != $("#currentUser").val())  
            
                || (message.Type == "TODO" && message.To == "ALL") 
                
                || (message.Type == "TODO" && message.To == $("#currentUser").val())

                || (message.Type == "NOTIFY" && message.To == "ALL" && message.Owner != $("#currentUser").val());
            if (isNotify) {
                         
                getAllMessages();
                updateNotificationCount();
                addNotification(message);
            }

        };
        // Start the connection.
        $.connection.hub.start().done(function () {
           console.log("connection started")
            //getAllMessages();
        }).fail(function (e) {
            console.log(e);
        });


        $('span.noti').click(function (e) {
           // debugger;
          e.stopPropagation();
          $('.noti-content').show();
            var count = 0;
            count = parseInt($('span.count').html()) || 0;
            //only load notification if not already loaded  
            if (count > 0) {
                //addNotification();
                //$('.noti-content').show();
            }
            $('span.count', this).html('&nbsp;');
        })
        // hide notifications  
        $('html').click(function () {
            $('.noti-content').hide();
        })
    });


    function getAllMessages()
    {
       // var tbl = $('#messagesTable');
        $.ajax({
            url: '/api/Restful/GetMessages',
            contentType: 'application/json ; charset:utf-8',
            type: 'GET',
            dataType: 'json'
        }).success(function (result) {
            console.log(result);
        }).error(function () {

        });
    }

    function addNotification(message) {
        
		url = "/home/chat";
		icon = "glyphicon glyphicon-comment";
		owner = message.Owner;
        if (message.Type == "TODO") { 
			url = "/task/index";
			owner = message.To;
			icon = "glyphicon glyphicon-calendar";
		}
		if (message.Type == "NOTIFY") { 
			 icon = "glyphicon glyphicon-info-sign";
		}
        $('#notiContent').prepend($('<li><a href="'+url+'"><i class="icon '+icon+'"></i><span>:' +message.Message + ' (' +  owner + ')</span> </a> </li>'));
        
    }
    function updateNotification() {
        $('#notiContent').empty();
        $('#notiContent').append($('<li>Loading...</li>'));
        $.ajax({
            type: 'GET',
            url: '/api/Restful/GetMessages',
            success: function (response) {
               // debugger;
                $('#notiContent').empty();
                if (response.length == 0) {
                    $('#notiContent').append($('<li>No data available</li>'));
                }
                $.each(response, function (index, value) {
                    $('#notiContent').append($('<li>New contact : ' + value.Name + ' (' + value.ID + ') added</li>'));
                });
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function updateNotificationCount() {
        var count = 0;
        count = parseInt($('span.count').html()) || 0;
        count++;
        $('span.count').html(count);
    }
    </script>

    }

</body>

</html>
